
 .main-footer-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 2px;
}
.title1 ul {
  grid-row: 1/4;
}
.title2 ul {
  grid-row: 1/4;
}
.title3 ul {
  grid-row: 1/4;
}
.title4 ul {
  grid-row: 1/4;
}
.title5 ul {
  grid-row: 1/4;
}