.main-footer {
  width: 1281px;
  height: 437px;
  margin: auto;
}

.main-footer-grid {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 370px;
}

.title {
}

.aside-footer-2 {
  float: right;
}
