#section-5 {
  width: 1180px;
  height: 1042px;
  margin: auto;
  padding: 0;
}

.main-div-2 {
  display: grid;
  grid-template-columns: 235px 235px 235px;
  grid-template-rows: 250px 250px;
  margin-bottom: 80px;
  grid-gap: 6%;
}

.main-div-3 {
  display: grid;
  grid-template-columns: 235px 235px 235px;
  grid-template-rows: 330px;
  margin-bottom: 80px;
  grid-gap: 6%;
}

.img-1-5 a {
  text-decoration: none;
  color: hsl(0, 3%, 6%);
}

.img-1-5 a:hover {
  color: rgb(90, 90, 90);
  /*text-shadow: 2px 2px 4px #aaa1a1;*/
}

.aside-2 {
  width: 315px;
  height: 1047px;
  float: right;
  border-top: 1px solid black;
}

.aside-2 h2 {
  color: hsl(0, 0%, 20%);
  font-size: 19px;
  border-top: 1px solid hsl(0, 0%, 80%);
  padding: 10px 0;
}

.aside-2 h2 a {
  text-decoration: none;
  color: hsl(0, 3%, 6%);
}

.aside-2 h2 a:hover {
  color: rgb(90, 90, 90);
  /*text-shadow: 2px 2px 4px #beb3b3;*/
}

.aside-2 h3 {
  width: 100%;
  padding: 15px 0px;
}

#section-5-div-2 h3 {
  width: 800px;
  font-size: 15px;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  margin-top: 20px;
}

.main-div-10 {
  width: 840px;
  border-top: 1px solid black;
  
}

.main-div-10 h3 {
  padding: 15px 0px;
}

#main-div-3 {
  width: 845px;
  border-top: 1px solid black;
}

#main-div-3 h3 {
  padding: 15px 0px;
}